DATABASE_URL=postgresql://...-pooler.neon.tech/moneyworks
DATABASE_URL_UNPOOLED=postgresql://...neon.tech/moneyworks
ENCRYPTION_KEY=
ALLOWED_EMAIL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
